<div class="container">
    <section class="panel panel-heading">
    <hr>
    <h2 class="text-center text-warning"><i class="fab fa-accusoft"></i> Nosotros</h2>

    <h3><i class="fas fa-user-secret fa-10x"></i></h3>
    <h3>Equipo de <a class="text-primary"><%= @nosotros %></a></h3>

    <a class="btn btn-info" href="/">Get Started</a>
    <a class="btn btn-dark" href="/">Back</a>
    </section

  </div>
</div>
