<div class="container">
    <section class="panel panel-heading">
    <hr>
    <h2 class="text-center text-warning"><i class="fab fa-accusoft"></i> Nosotros</h2>

    <h3><i class="fas fa-user-secret fa-10x"></i>
    <ion-icon name="logo-android"></ion-icon></h3>
    <h3>Equipo de <a class="text-primary"><%= @nosotros %></a></h3>

    <a class="btn btn-info" href="/">Get Started</a>
    <a class="btn btn-dark" href="/">Back</a>

  </section>

    <section class="col-lg-12">
    <div class="col-lg-4">
      <img src="1.jpeg" alt="hola">
    </div>
    <div class="col-lg-4">
      <img src="2.jpeg" alt="hola">
    </div>
    <div class="col-lg-4">
      <img src="3.jpg" alt="hola">
    </div>
  </section>

  </div>
</div>
