<section id="contact">
  <div class="container">
    <h1 class="h2 text-danger text-center"><i class="fab fa-docker fa-10x"></i></h1>
    <h2  class="text-success">Contacto</h2>

      <h3 id="contact">Contáctanos en: <%= @direccion %></h3>
    <a class="btn btn-info" href="/">Back</a>
  </div>
</section>
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form >
          <div class="form-group">
            <h1>Registro</h1>
            <label for="email" id="email">Email</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password" id="password">Contraseña</label>
            <input type="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="checkpassword" id="checkpassword">Confirmar Contraseña</label>
            <input type="password" class="form-control">
          </div>
          <div class="form-group">
          <label for="select" id="select">Confirmar Contraseña</label>
            <label for="select">País:</label>
            <select class="form-control" id="sel1">
              <option>México</option>
              <option>Colombia</option>
              <option>Chile</option>
              <option>Argentina</option>
            </select>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="remember">Recordarme</label>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
