<div class="container">
  <h1 class="h2 text-danger text-center"><i class="fab fa-docker fa-10x"></i></h1>
  <h2 class="text-success">Contacto</h2>

    <h3>Contáctanos en: <%= @direccion %></h3>
  <a class="btn btn-info" href="/">Back</a>
</div>
