
  <div class="container">
    <hr>

    <h1 class="h1 text-center text-info">Welcome!</h1>
     <li class="text-center text-success"><span ><i class="fa fa-facebook fa-10x"></i></span></li>
    <h3><%= @hello%> Tienes un duelo con :<i class="text-danger"> <%= @nombre %></i></h3>

  </div>
