<%  1.times do %>
<div class="table-responsive">

  <table class="table ">
  <thead class="thead-dark">
    <th>Nombre</th>
    <th>Descripcion</th>

    <tr>
  <thead>
      <td><%= @b%></td>
      <td><%= @c%></td>

    </tr>
    <tr>
      <td><%= @b%></td>
      <td><%= @c%></td>

    </tr>
  </table>

  </div>
<% end %>
